<%= form_tag sessions_url do %>





<div style=" margin:auto; margin-top:1%; margin-bottom:1%; background-color:white; width:25%; height:20%; padding:0.5%; border-radius:5%;text-align:center;">
    <input id="username" name="username" placeholder="Username" type="text" style="border:none; border-radius:3%;  text-align:center; width:96%; font-size:21px;"/>
</div>


<div style=" margin:auto; margin-top:1%; margin-bottom:1%; background-color:white; width:25%; height:20%; padding:0.5%; border-radius:5%; text-align:center;">
    <input  id="password" name="password" class="rounded" placeholder="Password" type="password" style="border:none; border-radius:3%; text-align:center; width:96%; font-size:21px;"/>
</div>

<div style="background-color:rgba(80,80,150,1); height:44px; border-radius:5%; width:12%;font-size:23px; margin:auto; margin-bottom:2%; margin-top:2%;text-align:center;padding-top:4px;">
    <button style=" background-color:rgba(80,80,150,1); height:40px; font-size:20px; margin:auto; border:none;width:95%; color:white;">
    <span>
             Sign In
    </span>
  </button>
  </div>  




<% end %>