/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/*this css is responsible for the navigation bar */

.px_user{
	
	height:40em; 
	width:70em;
	clear:both;
	margin:auto;
	background: rgba(0,0,0, 0.4);
	padding:0.3%;
}

.px_header{
height:15%;
width:100%;
margin:auto;
background: rgba(0,0,0, 0.7); 
padding-top:2%;
display:block;
padding-bottom:0;
}
.px_header_logo{
display:inline;
margin-left:10%;
float:left;

}
.px_header_user_info{
display:inline;
float:right;
width:30em;
height:7em;
margin-top:-1.2%;
margin-right:0.7%;

}
.px_header_searchpic{
	height:1.5em; 
	padding:0.2em; 
	padding-bottom:0.4em; 
	margin-top:1.6%; 
	margin-bottom:0.6%;
	margin-left:0.5%;
	float:right;
	border-radius:10%;
	background-color:grey;

}
.px_header_searchbar{
height:2.5em; 
width:43%; 
padding:.5em; 
float:right;

}
#px-header_searchbutton{
	height:27px; 
	width:27px; 
	display:inline; 
	background-image:url(/assets/search1.jpg); 
	border:none; 
	border-radius:5%; 
	padding:2px; 
	background-repeat:no-repeat;  
	background-color:#888888;
}
.px_header_searchpic:hover{
	background-color: #aaaaaa;
}
.px_header_logoutimg{
	 border-radius:30%; 
	 height:35px; 
	 width:35px; 
	 float:right; 
	 margin-right:5%;
}
.px_header_uploadimg{
	 border-radius:30%; 
	 height:35px; 
	 width:35px; 
	 float:right; 
	 margin-right:5%;
}
.px_header_logoutimg:hover{
background-color:rgba(255,128,128,0.5); 
}
.px_header_uploadimg:hover{
background-color:rgba(128,255,128,0.5); 
}







.px_uarea{
	margin:1%;
	margin-left:0.5%;
	height:79%;
	width:17%;
	float:left;
	background: rgba(0, 0, 0, 0.7);
}




.px_udisp_area{
	margin:5%;
	height:30%;
	width:89%;
	border-radius:2%;
}




.px_uoptions{
	height:69%;
	width:89%;
	float:left;
	clear:both;
	margin:1% 5% 5% 5%;
	color:white;
	font-size:18px;
}
.px_hitnumber{
display:block;
width:90%;
height:15%;
background: rgba(50, 255, 50, 0.3);
margin:auto;
margin-top:2%;
font-size:36px;
color:white;	
vertical-align:middle;
border-radius:5%;
padding-top:8%;
margin-bottom:11%;
}
.px_user_hits{
background: rgba(0,0,0, 0.8);
border-radius:15% 15% 15% 15%; 
height:125%; 
width:11%; 
text-align:center; 
margin:-8.5% 12% 0 0; 
float:right; 
font-size:13px;

}
.px_u_activity_boxes{
display:block;
width:80%;
height:9%;
background: rgba(255, 255, 255, 0.7);
margin:auto;
margin-top:6%;
font-size:19px;
text-align:center;
vertical-align:middle;
padding-top:3.5%;
border-radius:10%;
color:#006633;
font-weight:100;
font-family:Georgia, "Times New Roman", Times, serif;
}
#px-uprofile_click:hover
{
	box-shadow: 5px 5px 5px #505068;
	color:#505068;
}
#px-ufollowing_click:hover
{
	box-shadow: 5px 5px 5px #505068;
	color:#505068;
}
#px-ufollowers_click:hover
{
	box-shadow: 5px 5px 5px #505068;
	color:#505068;
}
#px-usettings_click:hover
{
	box-shadow: 5px 5px 5px #505068;
	color:#505068;
}
#px-uview_click:hover
{
	box-shadow: 5px 5px 5px #505068;
	color:#505068;
}



.px_uinfo{
	
	margin-top:1%;
	height:79%;
	width:81%;
	background: rgba(0, 0, 0, 0.7);
	font-size:22px;
	margin-left:18.5%;
	margin-right:0.5%;
	overflow: auto;
	
}
